@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');
body{
    background: #FFF5DE;
    font-family: "Inter", sans-serif;
    font-style: normal;
}
a{
    text-decoration: none !important; 
    color: unset;
}
.top-bar-area{
    background-image: url('../images/header-bg.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 500px;
}

.main-menu ul li a {
    position: relative;
    display: inline-block; /* restrict width to text */
    color: #000;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.main-menu ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

.main-menu ul li a:hover {
    color: #fff;
}

.main-menu ul li a:hover::after {
    width: 100%;
}

.main-menu .language select{
    border: 1px solid #FFC83C !important;
}
.hero-title{
    font-family: "Macondo", cursive;
    font-size: 85px;
    color: #fff;
    padding-top: 60px;
    margin-bottom: 25px;
}
.hero-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000;
}
.category-item{
    background: #F8F8F8;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.07);
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.5s ease;
}
.category-item::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, #FFC83C80 );
  transform: rotate(-45deg);
  transition: all 0.8s ease;
  opacity: 0;
}
.category-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #FFC83C60;
}
.category-item:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
.category-info{
    background: #fff;
    padding: 15px;
    font-size: 12px;
    border-radius: 0 0 10px 10px;
}
.category-info h5{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}
.upcoming-text{
    font-size: 14px;
    color: blue;
    font-weight: 500;
}
/* .category-item img {
  transition: filter 0.1s ease;
}

.category-item:hover img {
  filter: grayscale(100%);
} */

/* .category-item {
  transition: box-shadow 0.3s ease;
} */

/* .category-item:hover {
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
} */

.category-item h5 {
  transition: color 0.3s ease;
}

.category-item:hover h5 {
  color: #EEAB00;
}

.footer-area{
    background: #EEAB00;
}
.copyright p{
    border-top: 2px solid #FFBA0C;
}
.footer-area a:hover{
    color: #fff !important;
    text-decoration: underline !important;
    transition: 0.4s ease-in-out;
}
.footer-area li:hover{
    color: #fff !important;
    transition: 0.4s ease-in-out;
}

.pound-cake-title{
    font-weight: 700;
    font-size: 40px;
}
.pound-cake-title span{
    border-left: 10px solid #EEAB00;
    margin-right: 15px;
}
.pound-cake label{
    font-weight: 600;
    font-size: 20px;
}
.pound-cake input, .pound-cake select{
    font-size: 20px;
    line-height: 50px;
    padding: 0px 10px !important;
    border-radius: 10px !important;
    overflow: hidden !important;
}
.form-select:invalid {
  color: #999;
}
.form-select option {
  color: #000;
  background: #fcecec;
}
.form-select {
    border: 2px solid #ccc !important; 
    border-radius: 10px !important;
    padding: 10px 15px !important;
}
.form-control::placeholder {
  color: #999;
}
.pound-cake button{
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    background: #EEAB00;
    border: 1px solid #EEAB00;
    border-radius: 10px !important;
    color: #fff;
    padding: 5px 20px;
    transition: background 0.3s ease;
    margin-top: 70px;
}

.pound-cake button:hover{
    background: transparent;
    color: #EEAB00;
}
.details-info p{
    font-weight: 400;
    font-size: 25px;
    line-height: 44px;
    margin-bottom: 10px;
    text-align: justify;
}
table th {
    background: #EEAB00 !important;
    padding: 10px 20px !important;
    color: #fff !important;
    font-weight: 500;
    font-size: 25px;
}
table th:first-child {
    border-radius: 5px 0 0 0 !important;
}

table th:last-child {
    border-radius: 0 5px 0 0 !important;
}
table td{
    background: #F8F8F8 !important;
    padding: 10px 20px !important;
    color: #505050 !important;
    font-weight: 500;
    font-size: 25px;
}
tfoot tr td {
  border-top: 2px solid #EEAB00;
}
.oven-model{
    background: #F9E5B5;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}
.temperature img{
    width: 45px;
    height: 45px;
}
.oven-model h2{
    font-weight: 700;
    font-size: 64px;
}
.oven-model h4{
    font-weight: 400;
    font-size: 25px;
}
.oven-model p{
    font-weight: 400;
    font-size: 15px;
}
/* Extra small devices (phones, portrait, under 576px) */
@media only screen and (max-width: 575.98px) {
    .top-bar-area{
        min-height: 500px;
    }
    .hero-title{
        font-family: "Macondo", cursive;
        font-size: 35px;
        color: #fff;
        padding-top: 30px;
        margin-bottom: 25px;
    }
    .pound-cake-title {
        font-weight: 700;
        font-size: 35px;
    }
    .pound-cake button{
        margin-top: 10px;
    }
}

/* Small devices (phones landscape, 576px - 767px) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px - 991px) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {

}